<div class="book-summary">
    <div id="book-search-input" role="search">
        <input type="text" placeholder="Type to search" />
    </div>
    <nav role="navigation">
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/">
                    {{ site.title | escape }}
                </a>
            </li>

            <li class="divider"></li>

            {% assign reversed_posts = site.posts | reverse %}

            {% for post in reversed_posts %}
                {% if page.url == post.url %}
                <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                {% else %}
                <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                {% endif %}
                    <a href="{{site.baseurl}}{{post.url}}">
                        {{ post.title | escape }}
                    </a>
                    {% if site.toc.enabled %}
                        {% if page.url == post.url %}
                            {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}

            <li class="divider"></li>

            <li>
                <a href="https://www.raspberrypi.org/translate/" target="blank" class="gitbook-link">
                    Translation community
                </a>
            </li>
        </ul>
    </nav>
</div>
